@model IEnumerable<MVC_CRUD_Clients.Entities.Client>
@{
    ViewData["Title"] = "Inicio";
}
<h4 class="mb-2">Listado de Clientes</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                <a class="btn btn-outline-success" asp-action="AddEdit"><i class="fa fa-plus-square"></i> Cliente</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(model => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(model => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaIngreso,new { type = "date" })
            </td>
            <td>
                <a asp-action="AddEdit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-2"
                   onclick="return confirm('¿Está seguro que desea eliminar este registro?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>